# PANDAS

## Pandas adalah library Python yang digunakan untuk mengolah dan menganalisis data

In [ ]:
#import libray pandas dengan aslias 'pd' atau bebas
import pandas as pd

# Series dan DataFrame

## Series
### Series itu satu kolom data sepert array(1D) dimensi yangg punya label/index

In [ ]:
data_series = pd.Series([1,2,3,4,5]) #buat data series dengan pd.Series yang berisi nilai [1,2,3,4,5] yang tertampung dalam variable 'data_series'
data_series #eksekusi. akan tampil satu kolom dengan index 0-4. index dimulai dari 0 ya, bukan dari satu.
#angka dikiri adalah index, dan angka dikanan adalah nilai yang baru dibuat

### Mengubah index dengan key string/huruf

In [ ]:
#Menggunakan Index
Dengan_index = pd.Series([10,20,30,40,50], index = ['Satu','Dua','Tiga','Empat','Lima']) #mengubah index dengan parameter index
Dengan_index
#index dan data series harus sesuasi tidak boleh lebih/kurang

In [ ]:
#Menggunakan Dictionary
Dengan_dict = pd.Series({101:'Amton',102:'Santi',103:'Lita'}) #index=key dan value=nilai
Dengan_dict
#type datanya object bukan int, karena  menggunakan dictionary

## DataFrame
### dataframe adalah sebuah tabel 2D terdiri dari baris dan kolom

In [ ]:
#dataframe bisa dibuat dengan dictionary ataupun list
#paling umu digunakan adalah dictionary to list
data1 = {
    'NIM':[101,102,103,104,105],
    'Nama':['Andi','Jaka','Nila','Susan','Dayat']
}

data_frame = pd.DataFrame(data1)
data_frame
#terbentuk 2 kolom 5 baris

In [ ]:
#contoh, buat data frame dengan list
data2 = pd.DataFrame([
    [1,2,3,4],
    [5,6,7,8],
    [9,10,11,12],
    [13,14,15,16],
    [17,18,19,20]
])
data2
#terbuat 5 baris 4 kolom
#ada index baris dan kolom

### Mengubah index baris/kolom dengan key/string

In [ ]:
data3 = pd.DataFrame([
    [1,2,3,4],
    [5,6,7,8],
    [9,10,11,12],
    [13,14,15,16],
    [17,18,19,20]],
    index=['a','b','c','d','e'], columns=['A','B','C','D']
)

data3
#index yang dikiri
#index columns yang diatas

# Properti dasar DataFrame

properti atau informasi dari dataframe

In [ ]:
df = pd.DataFrame({
    'Nama':['Anto','Bayu','Cika','Deny','Eka','Faizun','Gauz','Hikmah','Ijal'],
    'Umur':[21,10,19,22,12,40,32,12,20],
    'Asal':['Dompu','Bali','Lombok','Jawa','Makasar','Jakarta','Bandung','Lombok','Surabaya']
})

In [ ]:
#.shape
df.shape #cek baris dan kolom

In [ ]:
#.head()

df.head(3) #liat data dari atas sebanyak 3. jika tanpa dalam kurung akan otomatis tampil 5 data

In [ ]:
#.tail
df.tail(4) #sama seperti head. tapi ini dari bawah/terakhir

In [ ]:
#.info()
df.info() #informasi dari data

In [ ]:
#.describe
df.describe() #lihat statistik deskriptif data, seperti min, max, mean dll

In [ ]:
df.index #cek index
#karena indexnya default jadi mulai=0 sampai=9 step=1

In [ ]:
df.columns #cek kolom

In [ ]:
df.dtypes #cek type data

# Operasi umum DataFrame
## Akses kolom

In [ ]:
df

In [ ]:
#akses kolom
#satu kolom
df['Nama']

In [ ]:
#lebih dari 1 kolom
df[['Nama','Umur']] #jika akses lebih dari 1, gunakan 2 kurung siku

# Mengenal loc dan iloc

#### loc digunakan untuk akses label/index/baris/kolom
#### iloc digunakan untuk akses angka urutan

## loc
#### perlu diingat untuk akses baris dulu baru kolom. jangankebalik

In [ ]:
df

In [ ]:
df.loc[1] #baris dari index 1

In [ ]:
df.loc[2,'Nama'] #bari index 2 dengan kolom 'Nama'

In [ ]:
df.loc[:,'Asal'] #semua baris dari kolom asal

In [ ]:
df.loc[1:4,['Nama','Asal']] #baris index 1 sampai 4 dengan kolom Nama dan asal

## iloc

In [ ]:
df.iloc[0] #baris index 0

In [ ]:
df.iloc[1:3] #baris index 1 sampai sebelum 3
#ingat index dimulai dari 0

In [ ]:
### perbedaan loc dan iloc juga
#### loc[1:5] ini akan akses index 1 sampai 5
#### iloc[1:5] ini akan akses index 1 sampai sebelm 5, yaitu 4

In [ ]:
df.iloc[:,2] # akses semua baris kolom asal

In [ ]:
#perlu diingat iloc tidak bisa diakses dengan labelnya 
#contoh
#df.iloc[1,'Nama'] #akses baris index 1 dengan kolom nama. ini akan error
df.iloc[1,0] #akses baris index 1, kolom index 0='Nama'

In [ ]:
df

In [ ]:
df.iloc[4:7, 0:1] #akses baris 4-7 dan kolom 0-1

# Filter / Seleksi Data

In [ ]:
df

## Mengenal filter 1 kondisi
#### '<' lebih kecil
#### '>' lebih besar
#### '>=' lebih besar samadengan
#### '<=' lebih besar samadengan
#### '==' samadengan
#### '!=' tidak samadengan

In [ ]:
df[df['Umur'] > 20] #menampilkan data umur yang lebih dari 20
#df['Umur'] > 20 #jika seperti ini nanti semua data akan tampil dan menalpilkan umur True dan False

In [ ]:
df[df['Umur'] <= 20] #lebih kecil samadengan dari 20, artinya 20 juga akan tampil

In [ ]:
df[df['Asal'] == 'Jakarta'] #asal = jakarta

In [ ]:
df[df['Asal'] != 'Jakarta'] #semua akan tampil kecuali asal = jakarta

## Mengenal filter lebih dari satu kondisi

#### 'and' / '&'

In [ ]:
# Menggunakan semua kondisi harus terpenuhi &

df[(df['Umur']>20) & (df['Asal']=='Jakarta')] # umur lebih dari 20 dan asal samadengan jakarta
#ini akan tampil karena terpenuhi kedua kondisi yaitu umur dan asal

In [ ]:
df[(df['Umur']<20) & (df['Asal']=='Jakarta')]

#ini tidak akan tampil  
# Umur < 20 itu False
# Asal = jakarta itu TRUE
#karena ada salah satu false atau tidak terpenuhi jadi tidak akan tampil

#### 'or' / |

In [ ]:
# Menggunakan salah satu atau lebih terpenuhi |

df[(df['Umur']>20) | (df['Asal']=='Jakarta')] #umur > 20 atau asal =jakarta

# umur > 20 itu True
# asal = jakarta itu False

#ini akan tetap tampil
#tapi yang tampil itu hanya yang True

In [ ]:
# contoh 3 kondisi
df[(df['Nama']=='Cika') & (df['Umur']<=19) & (df['Asal']=='Lombok')]

#nama = cika True
#umur <=19 True
#asal = lombok True

#maka terpenuhi semuanya True
#kalau salah satunya tidak terpenuhi maka tidak akan tampil

## Filter berdasarkan string / str

In [ ]:
df[df['Nama'].str.contains('i')]
#jadi setiap nama yang mengandung huru 'i' akan tampil

In [ ]:
df[df['Asal'].str.contains('o')]
#jadi setiap asal yang mengandung huru 'o' akan tampil

In [ ]:
df

## mengenal  isin()

#### digunakan jika ingin melihat banyak nilai sekaligus dalam 1 kolom

In [ ]:
#ingin melihat semua nama yang asalnya dari lombok dan jawa
df[df['Asal'].isin(['Lombok','Jawa'])]

#jika menggunakan == untuk banyak kolom Asal seperti ini
# """ df[df['Asal']==['Lombok','Jawa']] """
#tentu akan error

# Modify Nilai, baris dan kolom

In [ ]:
df

## Ubah kolom

In [ ]:
df.rename(columns={'Umur':'Usia'},inplace=True) #rename untuku mengubah, dan bisa mengubah lebih dari satu kolom sekaligus

In [ ]:
df

## Ubah isi atau nilai pada data

### ada 2 cara mengubah nilai yg saya tahu

#### cara pertama

In [ ]:
#misal mengubah Eka menjadi Ida
df['Nama'] = df['Nama'].replace('Eka','Ida')

In [ ]:
df

#### cara ke 2

In [ ]:
# menggunakan loc
#cara ini bisa mengubah bebrapa kolom sekaligus

#pertama cari posisi ijal ada dimana
#df['Nama'] == 'Ijal' #ok ketemu true
#df.loc[df['Nama']=='Ijal'] #ok ketemu di index 8
#df.loc[df['Nama']=='Ijal','Nama'] #ok ketemu lebih spesifik
df.loc[df['Nama']=='Ijal',['Nama','Usia']] = ['Taufik',21] #dan ya karena posisinya ketemu lalu ubah nama dan usia

In [ ]:
df

## Tambah kolom

In [ ]:
df['Ket']='Sekolah' #manambah kolom 'Ket' dan value sekolah
df

In [ ]:
#tambah kolom dan perhitungan
df['Usia + 1'] = df['Usia']+1 #umur akan + 1
df

In [ ]:
#jika tambah kolom dan value
#harus sesuai dengan banyak baris
df['Penghasilan'] = [20,40,10,40,50,20,60,30,70]
df

## Tambah baris

In [ ]:
df.loc[0] = ['Santi',21,'Jakarta','Sekolah',22,40]
#ok disini yang awalnya index 0 itu adalah 'anto' dia akan tergantikan
# jadi pastikan posisi loc itu harus benar penempatannya

In [ ]:
df

## Hapus baris atau kolom

### hapus baris

In [ ]:
df.drop([0], axis = 0, inplace=True) #baris index 0 terhapus
#axis=0 itu baris
#axis=1 itu kolom
#inplace=True agar perubahan itu tersimpan

In [ ]:
df

### hapus kolom

In [ ]:
df.drop('Usia + 1', axis=1, inplace=True) #ok kolom usia+1 sudah terhapsu
#kalau ingin hapus lebih dari satu pake []

In [ ]:
df